.DS_Store
.githooks/hooks.log
.hugo_build.lock
hugo*.exe
**/*.xcf
**/*.zip
/public/
art/Visual2_QR_Sign.afdesign~lock~
_material_collection/~$Code2_Termine_2025_SS.xlsx
themes/hugo-theme-relearn_old

# MSVC specific ignores
*.obj
*.pch
*.idb
*.pdb
*.ilk
*.suo
*.user
*.ncb
*.sdf
*.ipch
*.tlog
*.log
*.vs
*.vcxproj.user
*.vcxproj.filters

# C++ specific ignores
*.o
*.lo
*.la
*.al
*.libs
*.dll
*.so
*.so.*
*.dylib
*.a
*.lib
*.exe
*.out
*.app
*.i
*.ii
*.cmi
*.d
*.dSYM/
